@font-face {
  font-family: 'NotoSansCJKtc';
  src: url("./font/NotoSansCJKtc-Regular.otf") format("opentype");
}
@font-face {
  font-family: 'conthraxsb-regular';
  src: url('./font/conthraxsb-regular.ttf');
}
body {
  margin: auto;
  font-family: 'NotoSansCJKtc','conthraxsb-regular';
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.6;
  /* color: #58616b; */
  min-height: 100%;
  width: 100vw;
  /* background-color: #fff; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html{
  min-height: 100%;
}

h2{
  color:#ea5514 ;
  font-family: inherit;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  font-size: 2.5rem;

}
h3{
  color:#ea5514 ;
  font-family: inherit;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  font-size: 2.0rem;
}
h4{
  color:#ea5514 ;
  font-family: inherit;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  font-size: 1.8rem;
}
img{
  width: 100%;
  height: 100%;
}
.container{
  width: 90%;
}
.container img{
  width: 100%;
  height: 100%;
}
.pic-title{
  margin:auto;
  text-align: center;
  font-style: italic;
  display: block;
}
.red-text{
  color: red;
}
.container p:first-letter {
  word-spacing: 3rem;
}
.video{
  width:100%;
  height:550px;
}
.pageheading{
  text-align: center;
}
.text-center{
  text-align: center;
}
.card-width{
  width: 47%;
}
.navbar{
  font-family: 'Helvetica','Arial','sans-serif';
  background-color:#D5D8DD;
  min-height: 70px;
}
.nav-link{
  font-family: 'conthraxsb-regular';
  color: black !important;
  font-size: 1.3rem;
  margin-left: 20px;
}
.dropdown-item{
  font-size: 1.3rem;
  color: #000;
  font-family: 'conthraxsb-regular';

}
.white-text{
  font-size: 1.3rem;
  color: #fff;
}
.white-text:hover{
  color:#ea5514;
}
.english-font{
  font-family: 'conthraxsb-regular';
}
.div-select{
  margin: auto;
}
.qa-select{
  width: 40%;
  display: flex;
  justify-content: space-between;
}
p.cat-title{
  font-size: 0.5rem;
}
.select1{
  /* width: 230px; */
  width: 50%;
  margin-left: 20px;
}
hr.style-six {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.absolute-logo {
  position: absolute;
  top: 0px;
  left: 10%;
  /* width: 300px;
  height: 200px; */
}
.dropdown-menu{
  color: #000;
  background-color: #D5D8DD !important;
  border: 0;
}

.file-preview{
  height: 70vh;
}
.navbar-toggler-icon{
  background-image: url('./image/menu.png');
  /* color: #000; */
}

#contact span{
  display: block !important;
}
.footer{
  background-color: #8B9098;
  text-align: center;
  /* border: 1px solid; */
  /* position: relative; */
  padding: 20px;
  bottom: 0%;
  height: 260px;
  width: 100%;
  margin-top: 100vh;
}
.footer img{
  width: 150px;
  height: 150px;
}
.footer a+a {
  margin-left: 15px;
}
.checkbox label+label{
  margin-left: 35px;

}
.footer span{
  display: block;
  color: #fff;
}
@media (max-width:600px){
  .footer img{
    width: 120px;
    height: 120px;
  }
  .card-width{
    width: 100%;
  }
  .container p:first-letter {
    word-spacing: 2rem;
  }
  .container p{
    font-size: 20px;
  }
  .video{
    width:100%;
    height:300px;
  }
  .qa-select{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

}
.document-collaspe{
  transition: height 300ms cubic-bezier(0.4, 0, 0.2, 1);

}

@media (max-width:1250px){
 
  .nav-link{
    color: black !important;
    font-family: 'conthraxsb-regular';
    font-size: 1.3rem;
    margin-left: 20px;
    margin-top: 0.7vh;
  }
  .absolute-logo {
    position: absolute;
    top: 0px;
    left: 0%;
    /* width: 300px;
    height: 200px; */
  }
}